.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-image: linear-gradient(rgb(52, 155, 252), white);
  height: 15%;
}
p{
  font-size: large;
}
ul {
  list-style: none;
  align-items: flex-start;
  font-size: large;
}

.navtitle{
  border: 10px;
}
.navbits > div{
  display: flex;
}

.btnFlag{
  display: flex;
}
.btn {
  background-color: #555555;
  border-radius: 12px;
  width: 100px;
  height: 50px;
  color: black;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btnBig{
  background-color: #74a7f3;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  margin: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: large;
  color: black;
  text-align: center;
  text-decoration: none;
  border: 2px solid #6296ad
}
.btnBig:hover{
  color:black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btnimg{
  width: auto;
  height:auto;
}
.centered{
  align-content: center;
}
.grid {
  margin:20px;
  grid-template-columns: auto auto auto;
  display: grid;
  gap: 10px;
}
.question{
  margin: 60px;
}
.title{
  font-weight: bold;
  font-size: xx-large;
}
.subtitle{
  font-weight: bold;
}
.footer {
  position:fixed;
  left: 0;
  bottom:0;
  width: 100%;
  display: flexbox;
  align-content: center;
  background-image: linear-gradient(white, rgb(52, 155, 252));
  height: 10%;
}
.inline {
  display: flex;
  text-align: center;
  margin: 20px; 
}

.btnHome{
  flex: auto;
  color: black;
}

.textbubble{
  border-style: solid;
  border-radius: 25px;
  width: 50%;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
}